*{
    box-sizing: border-box;
    color: #d3d3d3 ;
    
}
.show_Button{
    background-color: transparent;
    border: 1px solid #64ffda;
    padding:4px;
    text-decoration: none;
}
.highlight_color{
    color:#64ffda;
}
.highlight_color2{
    color:#FFFFFF;
    font-size: 20px;
}
.flex_container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex_container > div{
    font-size: 15px;
    margin:10px;
    height:fit-content;
    width:fit-content;
    padding: 20px;
    border: 1px solid #64ffda;

}